name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      checks: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true
      - run: go version

      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
          go-version-input: 1.24.x
          go-package: ./...

      - name: Examine source code for Linux AMD
        run: GOOS=linux GOARCH=amd64 go vet -v ./...

      - name: Examine source code for MacOS AMD
        run: GOOS=darwin GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Windows AMD
        run: GOOS=windows GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Linux ARM
        run: GOOS=linux GOARCH=arm64 go vet -v ./...

      - name: Examine source code for MacOS ARM
        run: GOOS=darwin GOARCH=arm64 go vet -v ./...

      - name: Examine source code for Windows ARM
        run: GOOS=windows GOARCH=arm64 go vet -v ./...
